<div class="flex flex-col gap-6 p-5">
   <!-- Quick Statistics  -->
   <section>
      <h3 class="flex gap-2 items-center mb-3 pl-1 text-lg text-textColSecondary"> Quick Statistics </h3>
      <div class="grid grid-cols-2 gap-2 md:grid-cols-4 md:gap-4">
         <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10, 11, 12, 13, 14, 15, 16, 17,18, 19, 20]"
            class="items-center bg-cardBgPrimary rounded-md shadow-md flex flex-col gap-1 p-3 text-textColSecondary">
            <p>Total value</p>
            <p>100$</p>
         </div>
      </div>
   </section>

   <!-- Recent Items table -->
   <section>
      <h3 class="flex gap-2 items-center mb-3 pl-1 text-lg text-textColSecondary"> Recently Added </h3>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
         <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-textColPrimary uppercase bg-headerCol ">
               <tr>
                  <th scope="col" class="px-6 py-3">
                     Product name
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Color
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Category
                  </th>
                  <th scope="col" class="px-6 py-3">
                     Price
                  </th>
                  <th scope="col" class="px-6 py-3">
                     <span class="sr-only">Edit</span>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr class="bg-buttonPrimary border-b hover:bg-btnPrimaryHover text-textColSecondary">
                  <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                     Apple MacBook Pro 17"
                  </th>
                  <td class="px-6 py-4">
                     Silver
                  </td>
                  <td class="px-6 py-4">
                     Laptop
                  </td>
                  <td class="px-6 py-4">
                     $2999
                  </td>
                  <td class="px-6 py-4 text-right">
                     <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                  </td>
               </tr>
               <tr class="bg-buttonPrimary border-b hover:bg-btnPrimaryHover text-textColSecondary">
                  <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                     Microsoft Surface Pro
                  </th>
                  <td class="px-6 py-4">
                     White
                  </td>
                  <td class="px-6 py-4">
                     Laptop PC
                  </td>
                  <td class="px-6 py-4">
                     $1999
                  </td>
                  <td class="px-6 py-4 text-right">
                     <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                  </td>
               </tr>
               <tr class="bg-buttonPrimary border-b hover:bg-btnPrimaryHover text-textColSecondary">
                  <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                     Magic Mouse 2
                  </th>
                  <td class="px-6 py-4">
                     Black
                  </td>
                  <td class="px-6 py-4">
                     Accessories
                  </td>
                  <td class="px-6 py-4">
                     $99
                  </td>
                  <td class="px-6 py-4 text-right">
                     <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </section>

   <!-- storage location section  -->
   <section>
      <h3 class="flex gap-2 items-center mb-3 pl-1 text-lg text-textColSecondary"> Storage Locations </h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 card md:grid-cols-3 gap-4">
         <a href=""
            class="card w-60 overflow-x-auto bg-headerCol text-base-content rounded-md transition duration-300 shadow-md">
            <div class="flex flex-row p-4 gap-x-10">
               <span class="text-textColPrimary">icon</span>
               <span class="text-textColPrimary">garden</span>
               <span class="text-textColPrimary">count</span>
            </div>
         </a>
      </div>
   </section>
   <section>
      label section
   </section>
</div>