<div class="cursor-pointer font-normal" (click)="toggle()">
  <button class="mr-3" *ngIf="location?.children?.length > 0">
    <svg *ngIf="!expanded" class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
      <path
        d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
    </svg>
    <svg *ngIf="expanded" class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
    </svg>
  </button>
  <a class="text-lg">{{ location?.name }}</a>
</div>

<div *ngIf="expanded && location?.children.length > 0" class="children-list ml-5 pl-3">
  <ng-container *ngFor="let childLoc of location?.children">
    <app-location-item [location]="childLoc"></app-location-item>
  </ng-container>
</div>