<app-toast *ngIf='showToast' [message]="toastMessage" [type]="toastType" (onClose)="hideToast()"></app-toast>
<app-modal *ngIf="showModal" 
    (onModalClose)="onCloseModal($event)"
    [headerMessage]="modalTitleMsg"
    [headerDescription]="modalTitleDescription"
    [showModalBody]="showModalBody"
    [modalName]="popupName"
    [showBodyContent]="bodyContent"
    [hasAnyForm]="hasFormControls"
    [formCtrlInfo]="formControlInfo"
    [footerButtons]="modalFooterBtns"
    >
</app-modal>

<div class="flex flex-row h-screen bg-img bg-cover bg-baseBgCol">
     <!-- side bar -->
   <app-sidebar></app-sidebar>
    <!-- main section -->
    <div class="overflow-y-hidden w-full flex flex-col">
        <!-- top header -->
        <div class="h-[12%] z-[99] shadow-lg w-full flex flex-row items-center md:hidden bg-gray-600 ">
            <button id="hamBurgerBtn" *ngIf="showMenu" type="button" (click)="toggleSidebar($event)"
                class=" md:hidden lg:hidden inline-flex items-center p-2 mt-1 ml-1 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </button>
        </div>

        <!-- Body section -->
        <div (click)="closeSideBar()" class=" overflow-y-auto h-[88%] md:h-[100%] flex flex-col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

