<app-toast *ngIf='showToast' [message]="toastMessage" [type]="toastType" (onClose)="hideToast()"></app-toast>
<app-modal *ngIf="showModal" 
    (onModalClose)="onCloseModal($event)"
    [headerMessage]="modalTitleMsg"
    [headerDescription]="modalTitleDescription"
    [showModalBody]="showModalBody"
    [modalName]="popupName"
    [showBodyContent]="bodyContent"
    [hasAnyForm]="hasFormControls"
    [formCtrlInfo]="formControlInfo"
    [footerButtons]="modalFooterBtns"
    >
</app-modal> 

<router-outlet></router-outlet>