/* night.scss */

html[data-theme="night"] {
  --color-background-sidebar : #0e1526;
  --color-background-base: 
  --color-button-primary:
  --color-btn-primary-hover:
  --color-header: #1e293b;
  --color-primary-text:
  --color-secondary-text:
  --color-badge-secondary:

  --color-text-primary:
}