/* retro.scss */

html[data-theme="retro"] {
  --color-background-sidebar : #d2c59d;
  --color-background-base: #9b884c;
  --color-button-primary: #e5a19e;
  --color-btn-primary-hover: #d26560;
  --color-btn-secondary-hover: #9b884c;
  --color-header: #e4d8b4;
  --color-background-card: #e4d8b4;
  --color-text-primary: #090700;
  --color-text-secondary: #090700;
  --color-badge-secondary: #818cf8;  
  --color-icon-fill: #090700;
}